Package: %PACKAGE_NAME%
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: %DEPENDS%
Conflicts: %CONFLICTS%
Architecture: amd64
Homepage: https://www.samanagroup.com
Description: Python modules and utilities for pragmatically handling Nagios
 configuration file maintenance, status information, log file parsing and
 plug-in development.
